@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body { 
    background-color:#ffefe2;
    font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

/* Menu style */

#menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    background: #1b01a2;
}

#menu a {
    display: block;
    padding: 1.5em;
    color: white;
}

/* Header style */

#banner-image {
    background-image: url(assets/images/next-level-banner.jpeg);
    height: 100%;
    width: 100%;
}

/* About Next Level Section */

.about-description {
    float: right;
    width: 66%;
    flex-grow: 1;
}

/* Footer style */

footer {
    background-color: #fe9d8a;
    position: relative;
    overflow: hidden;
    height: 200px;
    clear: both;
}

.social-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.social-links {
    flex-wrap: wrap;
    font-size: 1.3rem;
    margin: 3px;
    padding: 10px;
    list-style-type: none;
    justify-content: space-around;
}

.social-links i {
    font-size: 4rem;
    margin: 5px;
    padding: 6px;
    color: #7a2a35;
}

/* Media Query Width < 800px */

@media all and (max-width: 800px) {
    .social-links {
      justify-content: space-around;
    }
  }
  
/* Media Query Screen Width < 500px */

@media all and (max-width: 500px) {
    .social-links {
      flex-direction: column;
    }
  }
