@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body { 
    background-color:#ffefe2;
    font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    text-align: center;
    margin: 4rem 1rem;
    letter-spacing: 2px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center justify;
}

/* Banner style in header */

#banner-image {
    background: url('/assets/images/next-level-banner.jpeg') no-repeat;
    background-attachment: fixed;
    min-height: 190px;
    width: 100%;
}

/* Menu style */

#menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    background: #1b01a2;
}

#menu a {
    display: block;
    padding: 0 1.5em 1.5rem;
    color: white;
    text-decoration: none;
}

#menu a:hover {
    background: #7a2a35;
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
    overflow: auto;
    display: flex;
}

/* About Next Level Section */

.about-section {
    float: right;
    width: 66%;
    flex-grow: 1;
}

.about-description p {
    margin: auto 10%;
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 15px;
}

/* Testimonials section */

#testimonials {
    background-color: #c24f4c;
    clear: both;
}

.testimonial-text {
    color: #ffefe2;
    font-size: 3rem;
    line-height: 1.5;
}

/* Footer style */

footer {
    background-color: #fe9d8a;
    position: relative;
    overflow: hidden;
    height: 200px;
    clear: both;
}

.social-wrapper {
    justify-content: space-evenly;
}

.social-links {
    display: flex;
    font-size: 1.3rem;
    margin: 3px;
    padding: 10px;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
}

.social-links i {
    font-size: 4rem;
    margin: 5px;
    padding: 6px;
    color: #7a2a35;
}

/* Media Query Width < 800px */

@media all and (max-width: 800px) {
    #menu {
        justify-content: space-around;
    }
    
    .social-links {
      justify-content: space-around;
    }
  }
  
/* Media Query Screen Width < 500px */

@media all and (max-width: 500px) {
    #menu {
        flex-flow: column wrap;
        padding: 0;
    }

    #menu a {
        text-align: center; 
        padding: 10px;
        border-top: 1px solid rgba(122, 42, 53, 255); 
        border-bottom: 1px solid rgba(122, 42, 53, 0.1); 
    }

    #menu li:last-of-type a {
        border-bottom: none;
    }
    
    .social-links {
      flex-direction: column;
    }
  }
