@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
}

body { 
    background-color:#ffefe2;
    font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    text-align: center;
    margin: 4rem 1rem;
    letter-spacing: 2px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center justify;
}

input[type=submit] {
    padding:15px 15px; 
    background:#1b01a2; 
    color: #ffefe2;
    border:0 none;
    cursor:pointer;
    border-radius: 5px; }

    input[type=submit]:hover {
        background:#7a2a35; 
    }

/* Banner style in header */

#banner-image {
    background: url('/assets/images/next-level-banner.jpeg') no-repeat;
    background-attachment: fixed;
    min-height: 190px;
    width: 100%;
}

/* Menu style */

#menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    background: #1b01a2;
}

#menu a {
    display: block;
    padding: 1em 1.5em 1.5rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#menu a:hover {
    background: #7a2a35;
}

/* Containers */

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
}

.container-fluid {
    padding: 7% 15%;
}

/* About Next Level Section */

.div-profile-image {
    align-self: center;
    margin: auto;
}

.profile-image {
    max-width: 200px;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
}

.about-description {
    align-self: center;
    flex-grow: 3;
}

.about-description p {
    margin: auto 10%;
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 15px;
}

/* Specificities of Amelle */

.specificities {
    background-color: #fe9d8a;
}

.specifities-list {
    flex-direction: row;
    text-align: center;
    padding: 2%;
}

.specifities-list-left {
    flex: 33%;
}

.specifities-list-middle {
    flex: 33%;
}

.specifities-list-right {
    flex: 33%;
}

.specifities-title {
    font-size: 1.5rem;
}

.specificities p {
    color: rgb(24, 24, 24);
}

/* Testimonials section */

#testimonials {
    background-color: #c24f4c;
    clear: both;
    text-align: center;
}

.testimonial-text {
    color: #ffefe2;
    font-size: 3rem;
    line-height: 1.5;
}

/* Footer style */

footer {
    background-color: #fe9d8a;
    position: relative;
    overflow: hidden;
    height: 200px;
    clear: both;
    text-align: center;
}

.social-wrapper {
    justify-content: space-evenly;
}

.social-links {
    display: flex;
    font-size: 1.3rem;
    margin: 3px;
    padding: 10px;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
}

.social-links i {
    font-size: 4rem;
    margin: 5px;
    padding: 6px;
    color: #7a2a35;
}

/* Media Query Width < 800px */

@media all and (max-width: 800px) {
    #menu {
        justify-content: space-around;
    }

    .specifities-list {
        flex-direction: column;
    }
    
    .social-links {
      justify-content: space-around;
    }
  }
  
/* Media Query Screen Width < 500px */

@media all and (max-width: 500px) {
    #menu {
        flex-flow: column wrap;
        padding: 0;
    }

    #menu a {
        text-align: center; 
        padding: 10px;
        border-top: 1px solid rgba(122, 42, 53, 255); 
        border-bottom: 1px solid rgba(122, 42, 53, 0.1); 
    }

    #menu li:last-of-type a {
        border-bottom: none;
    }

    .specifities-list {
        flex-direction: column;
    }
    
    .social-links {
      flex-direction: column;
    }
  }
